#body{
    text-align: center;


}
#title{
    color: red;
}
#container{
    padding: 20px;
    background: #01fefe;
    border-radius: 15px;
    width:400px;
    height: 200px;
    margin: 0 auto;

}
#value{
    background: white;
}